.linksNoDecoration {
  color: inherit;
  text-decoration: inherit;
}

main {
  margin: 35px 0;
  margin-top: 0;
}

@media only screen and (min-width: 600px) {
  main {
    margin-left: 55px;
  }
}

@media only screen and (min-width: 960px) {
  main {
    margin-top: 35px;
    padding: 0 20px;
  }
}