.scrollPromptContainer {
  svg {
    fill: currentColor;
  }
  
  .prompt {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
  }
  
  .svg-scroll {
    color: #fff;
    display: inline-block;
    width: 28px;
    height: 28px;
    
    path {
      animation-duration: 1.2s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
      opacity: 0;
      
      &:first-child {
        animation-name: scrollAnimationBig;
      }
      
      &:last-child {
        animation-name: scrollAnimationSmall;
      }
    }
  }
  
  @keyframes scrollAnimationSmall {
    0% {
      transform: translateY(-15px);
    }
    25% {
      opacity: 0;
      transform: translateY(-15px);
    }
    75% {
      opacity: .8;
    }
    
    100% {
      transform: translateY(0);
    }
  }
  
  @keyframes scrollAnimationBig {
    0% {
      transform: translateY(-25px);
    }
    75% {
      opacity: 1;
      transform: translateY(0);
    }
    
    100% {
      
    }
  }
}